@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s, color 0.3s;
}

.location-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.ant-layout-sider {
  transition: all 0.2s;
}
